
<main>
    <noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div>
    <script defer="defer" type="text/javascript" src="../client-app/build/static/js/main.6d676e58.js"></script>
</main>